.email .password{
    font-size: 20px;
}

h1{
    text-align: center;
}

.form{
    text-align: center;
    display:block;
    width: 100px;
    height: 100px;
    padding-bottom: 20px;
    padding-left: 900px;
}

.form1{
    text-align: center;
    display:block;
    width: 100px;
    height: 100px;
    padding-bottom: 70px;
    padding-left: 900px;
}